/* GENERAL */
.banner {
    background-image: url('images/banner.png');
}

.navbar {
    margin-bottom: 0;
}

.logo {
    padding: 0%;
}

/* BACKGROUND COLOUR */
body, .modal-content {
    background-color: #212529;
}

/* LIGHT TEXT */
h1, h2, h3, h4, h5, h6, p, label, th, li {
    color: #FFFFFF;
}

/* FEEDBACK */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
}

.results {
    font-size: xx-large;
}

/* LEARNING CONTENT */
.squares {
    display: flex;
    justify-content: center;
}

.icon{
    width: 250px;
    height: 250px;
    background: #212529;
    color: white;
    font-size: xx-large;
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}
