
.navbar {
    margin-bottom: 0;
}

.carousel-item {
    height: 45vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* .Testing_style{
    color: chartreuse;
} */
