{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="en"{% endblock %}

{% block styles %}
    {{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
	<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Peaks and Troughs{% else %}{{ ('Welcome to Peaks and Troughs') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      	<div class="container">
        	<a class="navbar-brand" href="#">Peaks and Troughs</a>
       		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              	<span class="navbar-toggler-icon"></span>
            </button>
        	<div class="collapse navbar-collapse" id="navbarResponsive">
          		<ul class="navbar-nav ml-auto">
            		<li class="nav-item">
              			<a class="nav-link" href="{{ url_for('index') }}">Home
                    		<span class="sr-only">(current)</span>
                		</a>
            		</li>
					{% if not current_user.is_anonymous %}
            		<li class="nav-item">
              			<a class="nav-link" href="{{ url_for('learn') }}">Learn</a>
            		</li>
					{% endif %}
					{% if current_user.is_admin %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('statistics') }}">Statistics</a>
				  	</li>
					{% endif %}
            		{% if current_user.is_anonymous %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">{{ ('Login') }}</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('logout') }}">{{ ('Logout') }}</a>
					</li>
					{% endif %}
         		 </ul>
        	</div>
      	</div>
    </nav>
{% endblock %}

{% block content %}
	<div style="background: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-individual-stocks-rise-and-fall-banner-design-image_261506.jpg)" class="page-holder bg-cover">

		<div class="container py-5">
	  		<header class="text-center text-white py-5">
				<h1 class="display-4 font-weight-bold mb-4">Welcome to Peaks and Trough!</h1>
				<p class="font-italic">Here is some basic information about different types of investment.</p>
				<!-- <p class="font-italic">Snippet By <a href="https://bootstrapious.com" class="text-white">
					<u>Bootstrapious</u></a> -->
				</p>
	  		</header>
		</div>
  	</div>

    {% block app_content %}{% endblock %}
{% endblock %}
