{% extends "base.html" %}

{% block app_content %}

    <section>
        <div class="container-fluid d-flex justify-content-center">
            <h1>Content Under Construction</h1>
        </div>
    </section>

    <section>
        <br>
        <div class="container text-center">
            <form>
                <a href="{{ url_for('highrisk') }}">
                    <button type="button" class="btn btn-primary btn-lg btn-outline-warning" id="high">High Risk investments</button>
                </a>
            </form>
        </div>
    </section>

{% endblock %}
