{% extends "base.html" %}

{% block app_content %}
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        text-align: center;
        }

        .squares {
        display: flex;
        justify-content: center;
        }

        .icon{
            width: 150px;
            height: 150px;
            background: #000000;
            color: white;
            font-size: x-large;
        }

        .icon{
        border-style: ridge;
        display: flex;
        align-items: center;
        justify-content: center;
        }

    </style>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <script>
    function show_feedback(){
        let feedback = document.getElementsByClassName('feedback');
        let finish = document.getElementsByClassName('finish');
        for (i = 0; i < finish.length; i++) {
            if (finish[i].style.display !== 'none'){
                finish[i].style.display = 'none';
            }
        }
        for (i = 0; i < feedback.length; i++) {
            if (feedback[i].style.display === 'none'){
            feedback[i].style.display='block'
            }
        }
    };
    </script>

    <section class="finish" style="display: block;">
        <div class="container text-center" style="margin-top: 5%;">
            <h4>
                You have submitted successfully!
            </h4>
        </div>
        <div class="container text-center" style="margin-top: 5%;">
            <a>
                <button type="button" class="btn btn-primary btn-lg" onclick="show_feedback()">Click to see Feedback</button>
            </a>
        </div>
    </section>
    <section class="feedback" style="display: none;">
        <div class="container">
            <table>
                <tr>
                    <th>Total Attempts</th>
                    <th>Average Score</th>
                    <th>Max Score</th>
                </tr>
                <tr>
                    <td>
                        <div class="squares" >
                            <div class="icon">
                                <p>{{ attempts }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="squares">
                            <div class="icon">
                                <p>{{ avg_score }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="squares">
                            <div class="icon">
                                <p>{{ max_score }}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container">
            <h4>Latest Result: </h4>
            <p>Q1: {{ questions[0] }}</p>
            {% if latest[0].question_1_result %}
            <p><i class="fas fa-check fa-fw"></i>Your choice:</p>
            {% else %}
            <p><i class="fas fa-times fa-fw"></i>Your choice:</p>
            {% endif %}
            <p>Q2: {{ questions[1] }}</p>
            {% if latest[0].question_2_result %}
            <p><i class="fas fa-check fa-fw"></i>YES Your choice:</p>
            {% else %}
            <p><i class="fas fa-times fa-fw"></i>NO Your choice:</p>
            {% endif %}
            <p>Q3: {{ questions[2] }}</p>
            {% if latest[0].question_3_result %}
            <p><i class="fas fa-check fa-fw"></i>YES Your choice:</p>
            {% else %}
            <p><i class="fas fa-times fa-fw"></i>NO Your choice:</p>
            {% endif %}
            <p>Q4: {{ questions[3] }}</p>
            {% if latest[0].question_4_result %}
            <p><i class="fas fa-check fa-fw"></i>YES Your choice:</p>
            {% else %}
            <p><i class="fas fa-times fa-fw"></i>NO Your choice:</p>
            {% endif %}
            <p>Q5: {{ questions[4] }}</p>
            {% if latest[0].question_5_result %}
            <p><i class="fas fa-check fa-fw"></i>YES Your choice:</p>
            {% else %}
            <p><i class="fas fa-times fa-fw"></i>NO Your choice:</p>
            {% endif %}
        </div>
        <div class="container text-center">
            <a href="{{ url_for('learn') }}">
                <button type="button" class="btn btn-primary btn-lg">Return to Content</button>
            </a>
        </div>
    </section>

{% endblock %}
