{% extends "learn.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block risk_content %}

    <script>
        loadText("{{ url_for('static', filename='content/stocks.html') }}", "stocksContent");
        loadText("{{ url_for('static', filename='content/derivatives.html') }}", "derivativesContent");
        loadText("{{ url_for('static', filename='content/crypto.html') }}", "cryptoContent");
        loadText("{{ url_for('static', filename='content/risks.html') }}", "risksContent");
    </script>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Stock block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5" id="high_a_box">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon" style="text-align: center;">
                                {% if progress.high_a %}
                                <p style="color: green;">Stocks<br><i class="fas fa-check fa-fw"></i></p>
                                {% else %}
                                <p style="color: orange;">Stocks<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- derivatives block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon" style="text-align: center;">
                                {% if progress.high_b %}
                                <p style="color: green;" >Derivatives<br><i class="fas fa-check fa-fw"></i></p>
                                {% else %}
                                <p style="color: orange;">Derivatives<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cryptocurrency block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon" style="text-align: center;">
                                {% if progress.high_c %}
                                <p style="color: green;">Cryptocurrency<br><i class="fas fa-check fa-fw"></i></p>
                                {% else %}
                                <p style="color: orange;">Cryptocurrency<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Risk block-->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon" style="text-align: center;">
                                {% if progress.high_d %}
                                <p style="color: green;">Risks<br><i class="fas fa-check fa-fw"></i></p>
                                {% else %}
                                <p style="color: orange;">Risks<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- popup content -->
        <!-- Stock content -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Stocks - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="stocksTitle">Stocks</h2>
                                    <!-- Stocks - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/stonks.png" alt="Stonks" style="margin-top: 5%;"/>
                                    <!-- Stocks - Text-->
                                    <p class="mb-5 text-justify" id="stocksContent"></p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_a" value="Done" id="high_a" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Derivatives content -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Derivatives - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="derivativesTitle">Derivatives</h2>
                                    <!-- Derivatives - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/derivatives.png" alt="Derivatives" style="margin-top: 5%;"/>
                                    <!-- Derivatives - Text-->
                                    <p class="mb-5 text-justify" id="derivativesContent"></p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_b" value="Done" id="high_b" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cryptocurrency -->
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Cryptocurrency - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="cryptocurrencyTitle">Cryptocurrency</h2>
                                    <!-- Cryptocurrency - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/cryptocurrency.png" alt="Cryptocurrency" style="margin-top: 5%;"/>
                                    <!-- Cryptocurrency - Text-->
                                    <p class="mb-5 text-justify" id="cryptoContent"></p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_c" value="Done" id="high_c" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Risk content -->
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Risk - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="risksTitle">Risks</h2>
                                    <!-- Risk - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/risks.png" alt="Risks" style="margin-top: 5%;"/>
                                    <!-- Risk - Text-->
                                    <p class="mb-5 text-justify" id="risksContent"></p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_d" value="Done" id="high_d" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container text-center" style="margin-bottom: 5%;">
            <a href="{{ url_for('assessment') }}">
                <button type="button" class="btn btn-primary btn-lg btn-outline-warning" name='highrisk'>Attempt Assessment</button>
            </a>
        </div>
    </section>

{% endblock %}
