{% extends "learn.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block risk_content %}

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Stock block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img class="rounded" src="static/images/content/black.png" width="250" height="200" alt="">
                            {% if progress.high_a %}
                            <span style="position: absolute; top: 38%; left: 32%; color: green; font-size: xx-large;">Stocks</span>
                            {% else %}
                            <span style="position: absolute; top: 38%; left: 32%; color: orange; font-size: xx-large;">Stocks</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- derivatives block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div style="position: relative; width: 200px; height: 200px; margin-top: 20%;">
                            <img class="rounded" src="static/images/content/black.png" width="250" height="200" alt="">
                            {% if progress.high_b %}
                            <span style="position: absolute; top: 38%; left: 25%; color: green; font-size: xx-large;">Derivatives</span>
                            {% else %}
                            <span style="position: absolute; top: 38%; left: 25%; color: orange; font-size: xx-large;">Derivatives</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- cryptocurrency block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                        <div style="position: relative; width: 200px; height: 200px; margin-top: 20%;">
                            <img class="rounded" src="static/images/content/black.png" width="250" height="200" alt="">
                            {% if progress.high_c %}
                            <span style="position: absolute; top: 38%; left: 9%; color: green; font-size: xx-large;">Cryptocurrency</span>
                            {% else %}
                            <span style="position: absolute; top: 38%; left: 9%; color: orange; font-size: xx-large;">Cryptocurrency</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Risk block-->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img class="rounded" src="static/images/content/black.png" width="250" height="200" alt="">
                            {% if progress.high_d %}
                            <span style="position: absolute; top: 38%; left: 36%; color: green; font-size: xx-large;">Risks</span>
                            {% else %}
                            <span style="position: absolute; top: 38%; left: 36%; color: orange; font-size: xx-large;">Risks</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- popup content -->
        <!-- Stock content -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Stocks - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="stocksTitle">Stocks</h2>
                                    <!-- Stocks - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stonks.png" alt="Stonks" style="margin-top: 5%;"/>
                                    <!-- Stocks - Text-->
                                    <p class="mb-5 text-justify">
                                        Stocks, or equities, are a type of security that represents ownership of a company. Well, a fraction of a company, which entitles the owner of the stock to a proportion of the company's assets. Stocks are often referred to as shares, as the owner has a share of the ownership of the company, proportional to their number of stocks.
                                        <br><br>
                                        There are two main types of stocks, common and preferred. Common stock are, as the name suggests, the most common and what most people own. They convey an ownership of the company and allow for voting in company meetings. Preferred stock do not convey any voting rights, but if the company collapses and is liquidated, they get paid out their share of ownership before common stock is. A benefit of most companies is limited liability, that is, if a company does fail, the shareholders are not personally liable.
                                        <br><br>
                                        People invest in stocks to make money in two main ways. The first is through dividends, which are part of the profits of the company that they pay out to the owners of stocks. This is up to the company and there is no requirement to do so. The second way is through the company becoming more valuable, and the price of the stocks increasing. This leads to a profit when the stock is sold to another investor, however any profits will be subject to Capital Gains Tax if the price did increase.
                                        <br><br>
                                        Companies can continue to issue new stocks if they need to raise more money, which dilutes the ownership of all current shareholders due to the higher number of stocks on the market. As this is accompanied with an inflow of cash to the company, issuing new shares should not decrease the price of the stock.
                                    </p>
                                    <!-- <form>
                                    <a href="{{ url_for('highrisk') }}">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">
                                            <i class="fas fa-check fa-fw"></i>
                                            Done
                                        </button>
                                    </a>
                                    </form> -->
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_a" value="Done">
                                        <input type="submit" name="" value="Close">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Derivatives content -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Derivatives - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="derivativesTitle">Derivatives</h2>
                                    <!-- Derivatives - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/derivatives.png" alt="Derivatives" style="margin-top: 5%;"/>
                                    <!-- Derivatives - Text-->
                                    <p class="mb-5 text-justify">
                                        Derivatives are securities whose value relies upon the value of another asset, whether a single asset or a group. This means that the price of the derivative changes as the price of the underlying asset fluctuates. Common underlying assets for derivatives are stocks, bonds, commodities, interest rates, and market indexes. A derivative can essentially be seen as a gamble on the underlying asset, without directly having exposure to said asset.
                                        <br><br>
                                        Derivatives were a major contributor to the 2008 financial crisis due to their largely unregulated nature, as they are traded between two parties, and there is a risk that one side of the trade might default. Mortgage-backed securities are a good example of where investors bet on the stability of the housing market, with the underlying security being home loan mortgages. Another contributor to the financial crisis were banks selling derivatives where the underlying asset were other derivatives.
                                        <br><br>
                                        Derivatives have many legitimate uses apart from crashing the financial markets. They are often used to hedge positions, that is, if I have exposure to an asset price increasing, I buy a derivative to bet the asset price decreases so I minimise my risk exposure to that asset. This is common for currencies, where international companies that do business across the globe in local currencies use derivatives to hedge their risk that the local currency changes.
                                        <br><br>
                                        Common types of derivatives are futures (buying and receiving an asset in the future), forwards (similar to futures but only traded between people not on an exchange), swaps (exchange one type of cash flow for another), and options (an agreement to potentially buy an asset in the future).
                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_b" value="Done">
                                        <input type="submit" name="" value="Close">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cryptocurrency -->
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Cryptocurrency - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="cryptocurrencyTitle">Cryptocurrency</h2>
                                    <!-- Cryptocurrency - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/cryptocurrency.png" alt="Cryptocurrency" style="margin-top: 5%;"/>
                                    <!-- Cryptocurrency - Text-->
                                    <p class="mb-5 text-justify">
                                        Cryptocurrencies are a type of digital currency that are generated from code. They use a blockchain to keep an immutable record of all of the past transactions, which is called a distributed ledger. Cryptocurrencies were originally created to be an alternative to fiat currency (the cash that is in your wallet), however the volatile nature of their value has stopped that from happening. This can be easiest seen with the most well-known cryptocurrency, Bitcoin, which was created in 2009 and continues to have price fluctuations.
                                        <br><br>
                                        Another main cryptocurrency, Ethereum, contains more information on its blockchain, which can be used to execute smart contracts. Ethereum is currently the second largest cryptocurrency behind Bitcoin, and is the foundation for the latest craze, Non-Fungible Tokens or NFT. NFT's are embedded in the Ethereum blockchain and are seen as the digital equivalent to art, where the token you buy is the 'original'. Check out the <a href="https://foundation.app/NyanCat/nyan-cat-219" target="_blank">Nyan Cat</a> as an example of an NFT.
                                        <br><br>
                                        As cryptocurrencies are based in cryptography and mathematics, they require increasingly difficult problems to be solved to validate new transactions on the blockchain. The miners that do this validation are turning to high-end computers and specialised equipment to be the first to solve each new puzzle, and be rewarded with the cryptocurrency for doing so. A major environmental concern is that the mining activities of cryptocurrencies are a significant contributor to climate change due to the electricity used to power the process.
                                        <br><br>
                                        The use of cryptocurrencies has been turbulent. The original miners were generating thousands of Bitcoins and the price was next to nothing. The first commercial transaction was 10,000 Bitcoin for 2 pizza's, coins that would be worth hundreds of millions today. Then there are the stories of lost wallets, the devices that store cryptocurrencies, where thousands of coins are stashed behind passwords no one can remember. Who knows where the future of Bitcoin and cryptocurrencies will go, some say to zero, others to the moon.
                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_c" value="Done">
                                        <input type="submit" name="" value="Close">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Risk content -->
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Risk - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="risksTitle">Risks</h2>
                                    <!-- Risk - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/risks.png" alt="Risks" style="margin-top: 5%;"/>
                                    <!-- Risk - Text-->
                                    <p class="mb-5 text-justify">
                                        Any conversation about the risks of investing has to start with Bernie Madoff, who ran the largest Ponzi scheme ever. He took money from investors and then simply left it in the bank and used it to fund his lavish lifestyle whilst telling them they were getting decent returns. When those investors wanted their profits, he used the money from other investors to pay them out, and so on, and so on. He was brought down when the market fell in 2008 and too many people wanted their money.
                                        <br><br>
                                        There are a range of other investment risks. Market risk is where the value of the entire market decreases. This can be due to economic developments such as a recession or environmental factors such as natural disasters. Liquidity risk is where you cannot cash out your investment when you want, leading to greater exposure than you intend. This is often seen in more illiquid investments such as real estate.
                                        <br><br>
                                        Concentration risk is where you put too many of your eggs in one basket. This is common for new investors who don't have the amount of capital to invest that can be spread across many different investments, and are forced to start with just one basket. Inflation risk is where the cost of living is increasing faster than your investments. This often happens by just leaving money in the bank as savings.
                                        <br><br>
                                        There are many other risks that may impact your decision to invest or not invest. The best way to avoid these risks is to do your research, understand the investment and the risk it poses, and find something that you are comfortable taking on, knowing the downside. Plus if something seems to good to be true, it probably is.
                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="high_d" value="Done">
                                        <input type="submit" name="" value="Close">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container text-center" style="margin-bottom: 5%;">
            <!-- <form action="/assessment" method="post">
                {{ form.hidden_tag() }}
                <input type="submit" name="High" value="Attempt Assessment">
            </form> -->
            <a href="{{ url_for('assessment') }}">
                <button type="button" class="btn btn-primary btn-lg" name='highrisk'>Attempt Assessment</button>
            </a>
            <!-- <a>
                <button type="button" class="btn btn-primary btn-lg">Save Progress</button>
            </a> -->
        </div>
    </section>

{% endblock %}
