{% extends "base.html" %}

{% block app_content %}

    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

    <!-- Risk Section -->
    <section>
        <br>
        <div class="container text-center">
            <form>
                <a href="{{ url_for('highrisk') }}">
                    <button type="button" class="btn btn-primary btn-lg btn-outline-warning" id="high">High Risk investments</button>
                </a>
                <a href="{{ url_for('lowrisk') }}">
                    <button type="button" class="btn btn-primary btn-lg btn-outline-warning" id="low">Low Risk investments</button>
                </a>
            </form>
        </div>
    </section>

    {% block risk_content %}{% endblock %}

{% endblock %}
