{% extends "base.html" %}

{% block app_content %}
    <script>
    function show_high_Risk(){
        let high_risk_element = document.getElementsByClassName('high_Risk');
        let x = document.getElementsByClassName('secret');
        let low_risk_element = document.getElementsByClassName('low_Risk')
        for (i = 0; i < x.length; i++) {
            if (x[i].style.display !== 'none'){
                x[i].style.display = 'none';
            }
        }
        for (i = 0; i < low_risk_element.length; i++) {
            if (low_risk_element[i].style.display !== 'none'){
                low_risk_element[i].style.display = 'none';
            }
        }
        for (i = 0; i < high_risk_element.length; i++) {
            if (high_risk_element[i].style.display === 'none'){
            high_risk_element[i].style.display='block'
        }
        }

    };

    function show_low_Risk(){
        let low_risk_element = document.getElementsByClassName('low_Risk')
        let x = document.getElementsByClassName('secret');
        let high_risk_element = document.getElementsByClassName('high_Risk');
        for (i = 0; i < x.length; i++) {
            if (x[i].style.display !== 'none'){
                x[i].style.display = 'none';
            }
        }
        for (i = 0; i < high_risk_element.length; i++) {
            if (high_risk_element[i].style.display !== 'none'){
                high_risk_element[i].style.display = 'none';
            }
        }
        for (i = 0; i < low_risk_element.length; i++) {
            if (low_risk_element[i].style.display === 'none'){
            low_risk_element[i].style.display='block'
        }
        }
    };

    </script>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

    <section class="py-3">
        <div class="container">
            <h1 class="font-weight-light Testing_style">Hi, {{ current_user.username }}!</h1>
            <p class="lead">Welcome to Peaks and Troughs, lets learn about investing</p>
        </div>
    </section>

    <!-- Risk Section -->
    <section>
        <div class="container text-center">
            <a>
                <button type="button" class="btn btn-primary btn-lg" onclick="show_high_Risk()">High Risk investments</button>
            </a>
            <a>
                <button type="button" class="btn btn-primary btn-lg" onclick="show_low_Risk()">Low Risk investments</button>
            </a>
        </div>
    </section>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-3 mb-5 secret">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 46%; color: orange; font-size: xx-large;">?</span>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-3 mb-5 secret">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 46%; color: orange; font-size: xx-large;">?</span>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-3 mb-5 secret">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 46%; color: orange; font-size: xx-large;">?</span>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-3 mb-5 secret">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 46%; color: orange; font-size: xx-large;">?</span>
                        </div>
                    </div>
                </div>
                <!-- Stock block -->
                <div class="col-md-6 col-lg-3 mb-5 high_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; bottom: 30%; left: 33%; color: orange; font-size: xx-large;">Stock</span>
                        </div>
                    </div>
                </div>
                <!-- derivatives block -->
                <div class="col-md-6 col-lg-3 mb-5 high_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div style="position: relative; width: 200px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 25%; color: orange; font-size: xx-large;">Derivatives</span>
                        </div>
                    </div>
                </div>
                <!-- cryptocurrency block -->
                <div class="col-md-6 col-lg-3 mb-5 high_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                        <div style="position: relative; width: 200px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 9%; color: orange; font-size: xx-large;">Cryptocurrency</span>
                        </div>
                    </div>
                </div>
                <!-- Risk block-->
                <div class="col-md-6 col-lg-3 mb-5 high_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 38%; color: orange; font-size: xx-large;">Risk</span>
                        </div>
                    </div>
                </div>
                <!-- Bonds -->
                <div class="col-md-6 col-lg-3 mb-5 low_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal9">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 33%; color: orange; font-size: xx-large;">Bonds</span>
                        </div>
                    </div>
                </div>
                <!-- Cash -->
                <div class="col-md-6 col-lg-3 mb-5 low_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal10">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 35%; color: orange; font-size: xx-large;">Cash</span>
                        </div>
                    </div>
                </div>
                <!-- Art -->
                <div class="col-md-6 col-lg-3 mb-5 low_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal11">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; left: 40%; color: orange; font-size: xx-large;">Art</span>
                        </div>
                    </div>
                </div>
                <!-- Risk -->
                <div class="col-md-6 col-lg-3 mb-5 low_Risk" style="display: none;">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal12">
                        <div style="position: relative; width: 250px; height: 200px; margin-top: 20%;">
                            <img src="static/images/content/black.png" width="250" height="200" alt="">
                            <span style="position: absolute; top: 38%; bottom: 30%; right: 30%; left: 22%; color: orange; font-size: xx-large;">Realestate</span>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </section>
    <section>
        <!-- popup content -->
        <!-- Stock content -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Stocks - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal5Label">Locked Safe</h2>
                                    <!-- Stocks - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Stocks - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Derivatives content -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Derivatives - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal6Label">Submarine</h2>
                                    <!-- Derivatives - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Derivatives - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cryptocurrency -->
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Cryptocurrency - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal7Label">Submarine</h2>
                                    <!-- Cryptocurrency - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Cryptocurrency - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Risk content -->
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Risk - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal8Label">Submarine</h2>
                                    <!-- Risk - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Risk - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bond -->
        <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Bond - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal9Label">Submarine</h2>
                                    <!-- Bond - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Bond - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cash -->
        <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Cash - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal10Label">Submarine</h2>
                                    <!-- Cash - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Cash - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Art -->
        <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Art - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal11Label">Submarine</h2>
                                    <!-- Art - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Art - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Realestate -->
        <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Realestate - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal12Label">Submarine</h2>
                                    <!-- Realestate - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stock.jpeg" alt="..." style="margin-top: 5%;"/>
                                    <!-- Realestate - Text-->
                                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-check fa-fw"></i>
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container text-center" style="margin-bottom: 5%;">
            <a href="{{ url_for('assessment') }}">
                <button type="button" class="btn btn-primary btn-lg">Attempt Assessment</button>
            </a>
            <a>
                <button type="button" class="btn btn-primary btn-lg">View Progress</button>
            </a>
        </div>
    </section>
{% endblock %}
