{% extends "learn.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block risk_content %}

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Bonds block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon">
                                {% if progress.low_a %}
                                <p style="color: green;">Bonds<br></p>
                                {% else %}
                                <p style="color: orange;">Bonds<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cash block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon">
                                {% if progress.low_b %}
                                <p style="color: green;">Cash<br></p>
                                {% else %}
                                <p style="color: orange;">Cash<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Art block -->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon">
                                {% if progress.low_c %}
                                <p style="color: green;">Art<br></p>
                                {% else %}
                                <p style="color: orange;">Art<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Property block-->
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                        <div class="squares" style="margin-top: 20%;">
                            <div class="icon">
                                {% if progress.low_d %}
                                <p style="color: green;">Property<br></p>
                                {% else %}
                                <p style="color: orange;">Property<br></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- popup content -->
        <!-- Bonds content -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Bonds - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="bondsTitle">Bonds</h2>
                                    <!-- Bonds - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/stonks.png" alt="Stonks" style="margin-top: 5%;"/>
                                    <!-- Bonds - Text-->
                                    <p class="mb-5 text-justify">

                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="low_a" value="Done" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cash content -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Cash - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="cashTitle">Cash</h2>
                                    <!-- Cash - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/derivatives.png" alt="Derivatives" style="margin-top: 5%;"/>
                                    <!-- Cash - Text-->
                                    <p class="mb-5 text-justify">

                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="low_b" value="Done" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Art -->
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Art - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="cryptocurrencyTitle">Art</h2>
                                    <!-- Art - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/cryptocurrency.png" alt="Cryptocurrency" style="margin-top: 5%;"/>
                                    <!-- Art - Text-->
                                    <p class="mb-5 text-justify">

                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="low_c" value="Done" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Property content -->
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <!-- Property - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="risksTitle">Property</h2>
                                    <!-- Property - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/images/content/risks.png" alt="Risks" style="margin-top: 5%;"/>
                                    <!-- Property - Text-->
                                    <p class="mb-5 text-justify">

                                    </p>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="submit" name="low_d" value="Done" class="btn btn-primary btn-lg btn-outline-success">
                                        <input type="submit" name="" value="Close" class="btn btn-primary btn-lg btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container text-center" style="margin-bottom: 5%;">
            <a href="{{ url_for('assessment') }}">
                <button type="button" class="btn btn-primary btn-lg btn-outline-warning">Attempt Assessment</button>
            </a>
        </div>
    </section>

{% endblock %}
