{% extends "base.html" %}

{% block app_content %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<!-- TOTAL ATTEMPTS -->
					<p>Attempts: {{ total_attempts }}</p>
				</div>
				<div class="col d-flex justify-content-center">
					<!-- AVERAGE SCORE -->
					<p>Averge: {{ avg_score }}</p>
				</div>
				<div class="col d-flex justify-content-center">
					<!-- MAX SCORE -->
					<p>Maximum: {{ max_score }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col d-flex justify-content-center">
					<!-- DAY FREQUENCY -->
					<canvas id="day_chart" height="350"></canvas>
				</div>
				<div class="col d-flex justify-content-center">
					<!-- PROGRESS FREQUENCY -->
					<canvas id="prog_chart" height="350"></canvas>
				</div>
				<div class="col d-flex justify-content-center">
					<!-- SCORE FREQUENCY -->
					<canvas id="score_chart" height="350"></canvas>
				</div>
			</div>
		</div>
	</section>

	<!-- CHARTS -->
	<script>
		let days_data = {{ day_frequency|safe }}
		let progress_data = {{ progress_frequency|safe }}
		let scores_data = {{ score_frequency|safe }}

		// DAY FREQUENCY
		plotChart(
			data=days_data,
			chartElement='day_chart',
			chartType='bar',
			xLabels=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			yTitle='Attempts',
			chartTitle='Daily Assessment Frequency',
			myScales={
                y: {beginAtZero: true},
                xAxes: [{
                    display: true,
                    gridLines: {color: 'rgba(255, 255, 255, 0.2)'},
                    scaleLabel: {display: true,labelString: 'Month'}
                }],
                yAxes: [{
                    display: true,
                    gridLines: {color: 'rgba(255, 255, 255, 0.2)'},
                    scaleLabel: {display: true,labelString: 'Frequency'},
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
		);

		// PROGRESS FREQUENCY
		plotChart(
			data=progress_data,
			chartElement='prog_chart',
			chartType='doughnut',
			xLabels=['0', '1', '2', '3', '4'],
			yTitle='Attempts',
			chartTitle='Score Frequency',
			myScales=false
		);

		// SCORE FREQUENCY
		plotChart(
			data=scores_data,
			chartElement='score_chart',
			chartType='bar',
			xLabels=['0', '1', '2', '3', '4', '5'],
			yTitle='Attempts',
			chartTitle='Score Frequency',
			myScales={
                y: {beginAtZero: true},
                xAxes: [{
                    display: true,
                    gridLines: {color: 'rgba(255, 255, 255, 0.2)'},
                    scaleLabel: {display: true,labelString: 'Month'}
                }],
                yAxes: [{
                    display: true,
                    gridLines: {color: 'rgba(255, 255, 255, 0.2)'},
                    scaleLabel: {display: true,labelString: 'Frequency'},
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
		);

	</script>

	<!-- SHOW ADDITION TABLES -->
	<section>
		<br>
		<div class="container text-center" style="margin-bottom: 5%;">
			<a>
				<button type="button" class="btn btn-primary btn-lg btn-outline-warning" name='show_users' onclick="toUsers()">Users</button>
			</a>
			<a>
				<button type="button" class="btn btn-primary btn-lg btn-outline-warning" name='show_questions' onclick="toQuestions()">Questions</button>
			</a>
		</div>
	</section>

	<!-- USERS -->
	<section class="py-3" id="Users" style="display: none;">
		<div class="container" id="table_users" style="display: block">
			<table class="table table-dark table-bordered table-hover">
				<caption>List of users</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col" class="text-center">ID</th>
						<th scope="col">Username</th>
						<th scope="col">Email</th>
						<th scope="col" class="text-center">Admin Status</th>
					</tr>
				</thead>
				<tbody>
					{% for u in users %}
					<tr><td class="text-center">{{ u.id }}</td><td>{{ u.username }}</td><td>{{ u.email }}</td><td>{{ u.is_admin }}</td></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<!-- QUESTIONS -->
	<section class="py-3" id="Questions" style="display: none;">
		<div class="container table_questions" style="display: block">
			<table class="table table-dark table-bordered table-hover">
				<caption>List of questions</caption>
				<thead class="thead-light">
					  <tr>
						<th scope="col" class="text-center">ID</th>
						<th scope="col" class="text-center">Question</th>
						<th scope="col" class="text-center">Option A</th>
						<th scope="col" class="text-center">Option B</th>
						<th scope="col" class="text-center">Option C</th>
						<th scope="col" class="text-center">Option D</th>
						<th scope="col" class="text-center">Answer</th>
					  </tr>
				</thead>
				<tbody>
					{% for q in questions %}
					<tr><td class="text-center">{{ q.question_id }}</td><td>{{ q.question_text }}</td><td>{{ q.answer_1 }}</td><td>{{ q.answer_2 }}</td><td>{{ q.answer_3 }}</td><td>{{ q.answer_4 }}</td><td class="text-center">{{ q.correct_answer }}</td></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

{% endblock %}
